.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
* {
	font-family: "Quicksand", sans-serif;
}
.ant-layout-sider-trigger {
    background: #587a9a !important;
}
.ant-layout-sider-children {
	background: #fff !important;
}
.site-layout .site-layout-background {
	background: #fff;
}